<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Good Dog Day Training</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#training">Day Training</a></li>
      <li><a href="#walking">Dog Walking</a></li>
      <li><a href="#meet">Meet the Trainer</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron" style="min-height: 500px;">
  <h2 style="color: white; text-align: center; margin-top: 300px; text-shadow: 0 0 10px black;">
    Come home to a happy, well behaved dog
  </h2>
</div>

<section class="main-section">
  <div class="container">

    <p class="lead">
      Good Dog Day Training offers dog walking and day training in Melbourne’s South-Eastern suburbs, so life with your best friend is as fun and easy as it should be.

      <ul>
        <li>
          Qualified, experienced trainer & walker
        </li>
        <li>
          Most up to date positive training methods
        </li>
        <li>
          Trained in first aid for humans and canines
        </li>
        <li>
          Fully insured
        </li>

      </ul>
    </p>

  </div>
</section>

<section class="main-section" id="training">
  <div class="container">
    <h1>Day Training</h1>
    <h2>What is Day Training?</h2>
    <p class="lead">We can teach your dog while you’re at work!</p>
    <p>
      Traditional dog training lessons often fail because busy owners just don't have endless amounts of time and energy to train their dogs at home. Day training is a fast, effective solution - your trainer can do all the hard work for you. We will typically have 3 - 4 lessons during the week teaching your dog, in addition to a weekly coaching lesson at your convenience where we will show you the progress your dog has made and how to get your dog to listen to you. It's like hiring a dog walker, except your dog learns good behaviour as well as getting exercise.
    </p>

    <h2>Customised Training</h2>
    <p>
      One-on-one training means that we teach only what you want - no time wasted teaching "drop stay" when all you wanted was for your dog to stop pulling on lead! The lessons will be held at your home and parks near you, so your dog learns to behave in the places that really matter. You are very welcome to watch lessons if you wish, or we can teach while you are at work so you can come home to a happy, well behaved dog. We will send you an update or video whenever we visit so you can see how much fun your dog is having.
    </p>

    <h2>Reactive Dog Program</h2>
    <p>
      We specialise in dog-dog aggression, a very common issue which is not easily addressed with normal training. Rehabilitation relies on lots of calm, structured lessons with friendly dogs and avoiding any triggers which upset your dog - something very hard to arrange in the chaos of real life. In our program we will have an assistant working with a calm therapy dog at the perfect distance for desensitisation, so every interaction your dog has is a good you’re your walks will soon be happy and stress free!
    </p>
    <h2>Prices</h2>
    <p>
      Day training costs $60 per hour.
    </p>
    <p>
      Your first 45 minute Meet and Greet with your trainer is free and there is no obligation to continue. You can ask any questions, discuss any issues you are having with your dog, your goals and outcomes you would like to achieve. Your trainer will show you how the training works and make a customized training package for you and your dog.
    </p>

    <p>
      Call or email now to book your free Meet and Greet!
    </p>

    <h2>Service Hours</h2>
    <p><strong>Monday &mdash; Friday</strong><br/>9:30AM &mdash; 8:00PM</p>

    <p><strong>Sunday</strong><br />12:30PM &mdash; 5:00PM</p>

    <h2>Service Area</h2>
    Abbotsford, Alphington, Ashburton, Ashwood, Balwyn, Balwyn North, Blackburn, Blackburn North, Blackburn South, Box Hill, Box Hill North, Box Hill South, Burwood, Burwood East, Camberwell, Canterbury, Doncaster, Doncaster East, Donvale, Fairfield, Forest Hill, Glen Iris, Glen Waverly, Hawthorn East, Heathmont, Heidelberg, Ivanhoe, Ivanhoe East, Kew, Kew East, Mitcham, Mont Albert, Mont Albert North, Mount Waverley, Notting Hill, Nunawading, Ringwood, Ringwood East, Ringwood North, Surrey Hills, Vermont, Vermont South, Wantirna, Wantirna South, Wheelers Hill.
  </div>
</section>

<section class="main-section" id="walking">
  <div class="container">
    <h1>Dog Walking</h1>
    <p>
      No need to drag yourself out on dark, rainy nights – now when you come home exhausted you can just relax and enjoy your happy, tired dog. We’ll send you a picture of your happy dog whenever we take them out so you can check out the awesome adventures they’re having.
    </p>
    <h2>Small Group Walks</h2>
    <p>
      We’ll take your dog out to a dog off leash park with one or two other compatible, friendly dogs. They can run together, play with balls, go exploring, or just enjoy the sunshine – whatever they love most. It’s the perfect combination of socialization and exercise to help chill out your dog.
    </p>
    <h2>Private Walks</h2>
    <p>
      One-on-one walks are highly customizable and your dog will love the individual attention. Your walker is also a trainer and has lots of experience with dogs of all kinds.

      <ul>
        <li>
          Shy and anxious dogs
        </li>
        <li>
          Reactive dogs
        </li>
        <li>
          Boisterous and excitable dogs
        </li>
        <li>
          Dogs with medical issues
        </li>
        <li>
          Elderly dogs and young puppies
        </li>
      </ul>
    </p>

    <p>
      We can offer regular walks on or off leash, occasional walks for busy days, and short term walking if you’re going away or have too much on your plate.
    </p>
    <h2>Prices</h2>

    <h3>Group Walks</h3>
    <table class="table table-condensed" style="max-width: 400px">
      <tr>
        <td>45 minute group walk</td><td>$20</td>
      </tr>
      <tr>
        <td>1 hour group walk</td>
        <td>$25</td>
      </tr>
      <tr>
        <td>Second dog from the same household</td>
        <td>$10</td>
      </tr>
    </table>

    <h3>Private Walks</h3>
    <table class="table table-condensed" style="max-width: 400px;">
      <tr>
        <td>30 minute private walk</td>
        <td>$25</td>
      </tr>
      <tr>
        <td>45 minute private walk</td>
        <td>$30</td>
      </tr>
      <tr>
        <td>Second dog from the same household</td>
        <td>free</td>
      </tr>
    </table>

    <p>
    Your first Meet and Greet with your walker is completely free – call or email now to book.
    </p>

    <h2>Service Hours</h2>
    <p><strong>Monday &mdash; Friday</strong><br/>9:30AM &mdash; 4:30PM</p>

    <h2>Service Area</h2>
    <p>
      Ashburton, Ashwood, Balwyn, Balwyn North, Blackburn, Blackburn North, Blackburn South, Box Hill, Box Hill North, Box Hill South, Burwood, Burwood East, Chadstone, Doncaster, Doncaster East, Donvale, Forest Hill, Glen Waverly, Heathmont, Mitcham, Mont Albert, Mont Albert North, Mount Waverley, Notting Hill, Nunawading, Ringwood, Ringwood East, Ringwood North, Surrey Hills, Vermont, Vermont South, Wantirna, Wantirna South, Wheelers Hill.
    </p>
  </div>
</section>

<section class="main-section" id="meet">
  <div class="container">
    <h1>Meet the Trainer</h1>
    <p>
      Stephanie has completed the instructor training courses for The Gentle Dog Trainers Association and Southside Dog School, and will soon finish a Certificate IV in Companion Animal Services through the Delta Society. Before launching her career in behaviour consulting and dog walking she had extensive experience in a variety of jobs such as working at vet clinics and kennels, volunteering for the RSPCA, work experience with the detector dog program and veterinary behaviorists, and instructing obedience classes, puppy schools and reactive dog classes. She is dedicated to attending several seminars and workshops every year and stays up to date with all industry literature so that she can provide the most effective, modern and convenient dog training solutions for her clients. When she is not helping clients to enjoy easier lives with their pets she enjoys training her own two dogs, who have many titles in agility and rally obedience.
    </p>
  </div>
</section>

<section class="main-section" id="contact">
  <div class="container">
    <h1>Contact Us</h1>
    <addr></addr>
    <address>
      <strong>Stephanie Shaw</strong><br />
      <a href="tel:0432768076">0432768076</a><br />
      <a href="mailto:steph@dogdaytraining.com.au">steph@dogdaytraining.com.au</a>
    </address>
  </div>
</section>

