<section class="main-section" id="contact">
  <div class="container">
    <h1>Contact Us</h1>
    <addr></addr>
    <address>
      <strong>Stephanie Shaw</strong><br />
      <a href="tel:0432 768 076">0432768076</a><br />
      <a href="mailto:steph@dogdaytraining.com.au">steph@dogdaytraining.com.au</a>
    </address>
  </div>
</section>

