<div class="jumbotron" style="min-height: 500px;">
  <h2 style="color: white; text-align: center; margin-top: 300px; text-shadow: 0 0 10px black; font-size: 44px;">
    Come home to a happy, well behaved dog
  </h2>
</div>

<section class="main-section">
  <div class="container">

    <p class="lead">
      Good Dog Day Training offers dog walking and day training in Melbourne’s South-Eastern suburbs, so life with your best friend is as fun and easy as it should be.

      <ul>
        <li>
          Qualified, experienced trainer & walker
        </li>
        <li>
          Most up to date positive training methods
        </li>
        <li>
          Trained in first aid for humans and canines
        </li>
        <li>
          Fully insured
        </li>

      </ul>
    </p>

  </div>
</section>

<section class="main-section" id="contact">
  <div class="container">
    <h1>Contact Us</h1>
    <addr></addr>
    <address>
      <strong>Stephanie Shaw</strong><br />
      <a href="tel:0432768076">0432768076</a><br />
      <a href="mailto:steph@dogdaytraining.com.au">steph@dogdaytraining.com.au</a>
    </address>
  </div>
</section>

