<div class="jumbotron" style="min-height: 500px;">
  <h2 style="color: white; text-align: center; margin-top: 300px; text-shadow: 0 0 10px black; font-size: 44px;">
    Come home to a happy, well behaved dog
  </h2>
</div>

<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-6" style="text-align: center">
        <a href="<%= training_page_url %>" style="display: block;">
          <%= image_tag "training.jpg", style: "width: 100%" %>
          <h2>Day Training</h2>
        </a>
      </div>
      <div class="col-xs-6" style="text-align: center">
        <a href="<%= walking_page_url %>">
          <%= image_tag "walking.jpg", style: "width: 100%" %>
          <h2>Dog Walking</h2>
        </a>
      </div>
    </div>

    <p class="lead" style="padding: 60px 0; text-align: center;">
      Good Dog Day Training offers dog walking and day training in Melbourne’s South-Eastern suburbs,<br/>so life with your best friend is as fun and easy as it should be.
    </p>

  </div>
</section>
