<section class="main-section" id="training">
  <div class="container">
    <h1>Private Dog Training</h1>
    <h2>Real World Training</h2>
    <p>Real world training classes are 4-week training courses focused on teaching good manners where you need them, not just in the classroom. If you want a dog who can walk peacefully beside you on walks, relax by your side at a café and meet people and dogs calmly, this class is perfect for you.</p>
    <p>Classes are held around Blackburn or Ashwood. We will work on a variety of locations such as off leash parks or markets depending on what you would like to achieve with your dog. You can start any time by sending us an email or giving us a call.</p>
    <table class="table table-condensed" style="max-width: 400px;">
      <tbody>
        <tr>
          <td>Private course</td>
          <td>$199 for 4 lessons</td>
        </tr>
        <tr>
          <td>Small group course</td>
          <td>$120 for 4 lessons</td>
        </tr>
      </tbody>
    </table>

    <h2>Puppy Training</h2>
    <p>No more sharp teeth ripping your clothes or puddles on your carpet! Puppy school teaches you how to solve all the common puppy problems such as jumping up, mouthing, and house training. We will also cover good manners such as coming when called, socialization such as meeting people and dogs calmly, and problem prevention so you never have to worry about your dog pulling on leash or getting anxious when you leave. </p>
    <p>4-week courses are held in Blackburn or Ashwood and can be private or shared with other puppies. You can start any time, and we run over summer when other dog schools are closed.</p>
    <table class="table table-condensed" style="max-width: 400px;">
      <tbody>
        <tr>
          <td>Private course</td>
          <td>$199 for 4 lessons</td>
        </tr>
        <tr>
          <td>Small group course</td>
          <td>$120 for 4 lessons</td>
        </tr>
      </tbody>
    </table>

    <h2>Private Lessons</h2>
    <p>Private lessons are held in your home or a park near you. Usually they are 1 hour per week, but they are not fixed and can be held at a time that suits your schedule. Perfect for people who don’t have time to attend regular classes and those who have specific issues they want to work on. We will work with you and your dog together to teach good manners and solve problems. Private lessons are fully customizable, so you will learn exactly what you need to make life with your best friend fun again.</p>
    <p>
      If your dog:
      <ul>
        <li>Pulls on leash, or refuses to walk at all</li>
        <li>Won’t come when called</li>
        <li>Jumps up</li>
        <li>Steals, chews or destroys things</li>
        <li>Doesn’t listen</li>
        <li>Gets over excited</li>
      </ul>
    </p>

    <p>We can help! Send us an email or call now to find out more.</p>

    <h2>Behaviour Consultations</h2>

    <p>
      Behaviour consultations are the solution if your dog:
      <ul>
        <li>Lunges or barks at people or dogs on walks</li>
        <li>Chases bikes or cars</li>
        <li>Doesn’t get along with your other pets</li>
        <li>Barks or destroys your house while you’re out</li>
        <li>Pees inside</li>
        <li>Has fears or anxieties</li>
        <li>Has any other behaviour issues you would like to work on</li>
      </ul>
    </p>

    <p>Behaviour consultations are similar to private lessons. We will come to your home and work with you and your dog to solve issues. Unlike many other trainers, we don’t just give you a plan and leave you on your own, we actually work through the issues with you until they are resolved. Behaviour consultations may involve an assistant and calm to help dogs with reactive behaviour learn to be calm and focused.</p>

    <p>Regain your sanity. Email or call now.</p>

    <table class="table table-condensed" style="max-width: 400px;">
      <tbody>
        <tr>
          <td>During working hours</td>
          <td>$60</td>
        </tr>
        <tr>
          <td>After 5pm or on weekends</td>
          <td>$90</td>
        </tr>
      </tbody>
    </table>

    <p>Extra travel fees or fees for assistants may apply.</p>

    <h2>Service Area</h2>
    Abbotsford, Alphington, Ashburton, Ashwood, Balwyn, Balwyn North, Blackburn, Blackburn North, Blackburn South, Box Hill, Box Hill North, Box Hill South, Burwood, Burwood East, Camberwell, Canterbury, Doncaster, Doncaster East, Donvale, Fairfield, Forest Hill, Glen Iris, Glen Waverly, Hawthorn East, Heathmont, Heidelberg, Ivanhoe, Ivanhoe East, Kew, Kew East, Mitcham, Mont Albert, Mont Albert North, Mount Waverley, Notting Hill, Nunawading, Ringwood, Ringwood East, Ringwood North, Surrey Hills, Vermont, Vermont South, Wantirna, Wantirna South, Wheelers Hill.
  </div>
</section>

