<section class="main-section" id="training">
  <div class="container">
    <h1>Day Training</h1>
    <h2>What is Day Training?</h2>
    <p class="lead">We can teach your dog while you’re at work!</p>
    <p>
      Traditional dog training lessons often fail because busy owners just don't have endless amounts of time and energy to train their dogs at home. Day training is a fast, effective solution - your trainer can do all the hard work for you. We will typically have 3 - 4 lessons during the week teaching your dog, in addition to a weekly coaching lesson at your convenience where we will show you the progress your dog has made and how to get your dog to listen to you. It's like hiring a dog walker, except your dog learns good behaviour as well as getting exercise.
    </p>

    <h2>Customised Training</h2>
    <p>
      One-on-one training means that we teach only what you want - no time wasted teaching "drop stay" when all you wanted was for your dog to stop pulling on lead! The lessons will be held at your home and parks near you, so your dog learns to behave in the places that really matter. You are very welcome to watch lessons if you wish, or we can teach while you are at work so you can come home to a happy, well behaved dog. We will send you an update or video whenever we visit so you can see how much fun your dog is having.
    </p>

    <h2>Reactive Dog Program</h2>
    <p>
      We specialise in dog-dog aggression, a very common issue which is not easily addressed with normal training. Rehabilitation relies on lots of calm, structured lessons with friendly dogs and avoiding any triggers which upset your dog - something very hard to arrange in the chaos of real life. In our program we will have an assistant working with a calm therapy dog at the perfect distance for desensitisation, so every interaction your dog has is a good you’re your walks will soon be happy and stress free!
    </p>
    <h2>Prices</h2>
    <p>
      Day training costs $60 per hour.
    </p>
    <p>
      Your first 45 minute Meet and Greet with your trainer is free and there is no obligation to continue. You can ask any questions, discuss any issues you are having with your dog, your goals and outcomes you would like to achieve. Your trainer will show you how the training works and make a customized training package for you and your dog.
    </p>

    <p>
      Call or email now to book your free Meet and Greet!
    </p>

    <h2>Service Hours</h2>
    <p><strong>Monday &mdash; Friday</strong><br/>9:30AM &mdash; 8:00PM</p>

    <p><strong>Sunday</strong><br />12:30PM &mdash; 5:00PM</p>

    <h2>Service Area</h2>
    Abbotsford, Alphington, Ashburton, Ashwood, Balwyn, Balwyn North, Blackburn, Blackburn North, Blackburn South, Box Hill, Box Hill North, Box Hill South, Burwood, Burwood East, Camberwell, Canterbury, Doncaster, Doncaster East, Donvale, Fairfield, Forest Hill, Glen Iris, Glen Waverly, Hawthorn East, Heathmont, Heidelberg, Ivanhoe, Ivanhoe East, Kew, Kew East, Mitcham, Mont Albert, Mont Albert North, Mount Waverley, Notting Hill, Nunawading, Ringwood, Ringwood East, Ringwood North, Surrey Hills, Vermont, Vermont South, Wantirna, Wantirna South, Wheelers Hill.
  </div>
</section>

