<section class="main-section" id="walking">
  <div class="container">
    <h1>Dog Walking</h1>
    <p>
      No need to drag yourself out on dark, rainy nights – now when you come home exhausted you can just relax and enjoy your happy, tired dog. We’ll send you a picture of your happy dog whenever we take them out so you can check out the awesome adventures they’re having.
    </p>
    <h2>Small Group Walks</h2>
    <p>
      We’ll take your dog out to a dog off leash park with one or two other compatible, friendly dogs. They can run together, play with balls, go exploring, or just enjoy the sunshine – whatever they love most. It’s the perfect combination of socialization and exercise to help chill out your dog.
    </p>
    <h2>Private Walks</h2>
    <p>
      One-on-one walks are highly customizable and your dog will love the individual attention. Your walker is also a trainer and has lots of experience with dogs of all kinds.

      <ul>
        <li>
          Shy and anxious dogs
        </li>
        <li>
          Reactive dogs
        </li>
        <li>
          Boisterous and excitable dogs
        </li>
        <li>
          Dogs with medical issues
        </li>
        <li>
          Elderly dogs and young puppies
        </li>
      </ul>
    </p>

    <p>
      We can offer regular walks on or off leash, occasional walks for busy days, and short term walking if you’re going away or have too much on your plate.
    </p>
    <h2>Prices</h2>

    <h3>Group Walks</h3>
    <table class="table table-condensed" style="max-width: 400px">
      <tr>
        <td>45 minute group walk</td><td>$20</td>
      </tr>
      <tr>
        <td>1 hour group walk</td>
        <td>$25</td>
      </tr>
      <tr>
        <td>Second dog from the same household</td>
        <td>$10</td>
      </tr>
    </table>

    <h3>Private Walks</h3>
    <table class="table table-condensed" style="max-width: 400px;">
      <tr>
        <td>30 minute private walk</td>
        <td>$25</td>
      </tr>
      <tr>
        <td>45 minute private walk</td>
        <td>$30</td>
      </tr>
      <tr>
        <td>Second dog from the same household</td>
        <td>free</td>
      </tr>
    </table>

    <p>
    Your first Meet and Greet with your walker is completely free – call or email now to book.
    </p>

    <h2>Service Hours</h2>
    <p><strong>Monday &mdash; Friday</strong><br/>9:30AM &mdash; 4:30PM</p>

    <h2>Service Area</h2>
    <p>
      Ashburton, Ashwood, Balwyn, Balwyn North, Blackburn, Blackburn North, Blackburn South, Box Hill, Box Hill North, Box Hill South, Burwood, Burwood East, Chadstone, Doncaster, Doncaster East, Donvale, Forest Hill, Glen Waverly, Heathmont, Mitcham, Mont Albert, Mont Albert North, Mount Waverley, Notting Hill, Nunawading, Ringwood, Ringwood East, Ringwood North, Surrey Hills, Vermont, Vermont South, Wantirna, Wantirna South, Wheelers Hill.
    </p>
  </div>
</section>
