@import "bootstrap-sprockets";
@import "bootstrap";
@import "non-responsive";

.jumbotron {
  background: white image-url("dog1.jpg") no-repeat center center;
  background-size: 100% auto;
}

.main-section {
  border-bottom: 1px solid #eee;
  padding: 30px 0 50px;
}

.navbar-nav {
  border-top: none;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: table-cell;
  width: 1%;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.navbar-nav > li:last-child {
  border-right: none;
}

.navbar {
  min-height: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: "Francois One", sans-serif;
}

